.button-wrap {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgb(126, 129, 126);
    color: rgb(2, 1, 1);
    flex: 1;
    margin: 4px;
    border-radius: 50px;
}